@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.container {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1280px;
  background-color: $bg-color;
  min-height: 100vh;
}
