@use './variables' as *;

html {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
}

body {
  background: $bg-color;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}

a {
  all: unset;
  cursor: pointer;
}
