$bg-color: #fff;
$bg-color-grey: #f7f7f8;

$text-color: #050510;
$text-color-grey: #97979b;
$text-color-darkgrey: #55555c;
$text-color-lightgrey: #c3c3c6;
$text-color-selected: #6534ff;

$modal-bg-color: #05051029;
