@use '../../scss/variables.scss' as *;

.error-info {
  position: absolute;
  top: 50%;
  left: calc(50% - 171px);
  top: calc(50% - 59px);
  width: 343px;
  height: 150px;
  text-align: center;
  background-color: $bg-color;

  &__img {
    margin: auto;
  }

  &__msg-one {
    margin-top: 8px;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    color: $text-color;
  }

  &__msg-two {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $text-color-grey;
  }

  &__msg-three {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: $text-color-selected;
  }
}
